<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('admin')"></div>
<div class="wrapper">
    <div th:replace="admin/fragment :: menu"></div>
    <!--/*@thymesVar id="famille" type="me.kadarh.mecaworks.domain.others.Famille"*/-->

    <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page"*/-->
    <!--/*@thymesVar id="search" type="java.lang.String"*/-->

    <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-inverse navbar-btn">
            <i class="glyphicon glyphicon-align-left fa fa-undo"></i>

        </button>

        <div class="col-12">
            <br/>
            <ul class="breadcrumb py-3">
                <li class="breadcrumb-item"><a th:href="@{'/admin/sousFamilles/add'}"><i
                        class="fa fa-arrow-circle-left fa-lg"></i></a></li>
                <li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
                <li class="breadcrumb-item"><a th:href="@{'/admin'}" th:text="#{admin}"></a></li>
                <li class="breadcrumb-item"><a th:href="@{'/admin/familles'}" th:text="#{admin.familles}"></a></li>
                <li class="breadcrumb-item" th:text="${edit}? #{admin.famille.edit}: #{admin.famille.add}"></li>
            </ul>
            <div class="content-page ">
                <form class="form-horizontal bg-faded p-4" role="form" method="post"
                      th:object="${famille}">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <hr>
                            <h3 th:text="${edit}?#{admin.famille.edit}: #{admin.famille.add}"></h3>
                            <hr>
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <div class="row pl-4">
                            <p th:text="#{formError}"></p>
                        </div>
                        <div class="row">
                            <div class="col-12 help-block" th:if="${#fields.hasErrors('nom')}">
                                <ul>
                                    <li th:each="err : ${#fields.errors('nom')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 field-label-responsive">
                            <label for="nom" th:text="#{famille.nom}"></label>
                        </div>
                        <div class="col-7">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-sort"></i>
                                    </div>
                                    <input type="text" id="nom"
                                           class="form-control" th:field="*{nom}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-success"><i class="fa"></i>
                                [[${edit}?#{save}: #{add}]]
                            </button>
                        </div>
                    </div>

                </form>
                <hr class="m-1" id="hrTable">
                <div class="container-fluid text-center bg-faded py-3" th:if="${#lists.isEmpty(page.content)}">
                    <div class="text-warning "><h3 th:text="#{empty}"></h3></div>
                </div>
                <div th:if="!${#lists.isEmpty(page.content)}">
                    <div class="row col-12 p-2">
                        <form class="form-inline col-9" method="get" th:action="@{'/admin/familles/add'}">
                            <input class="form-control col-9"
                                   type="text" th:name="search" th:value="${search}">
                            <button class="btn btn-secondary col-3" type="submit" th:text="#{search}"></button>
                        </form>
                    </div>
                    <table class="table table-hover table-bordered">
                        <tr class="bg-inverse text-white">
                            <th>
                                <a th:href="'?page=0&sort=nom'+(${page.getSort().getOrderFor('nom')?.descending}?'':',desc')+(${search.isEmpty()}?''+'#hrTable':'&search='+${search}+'#hrTable')"
                                   th:title="!${page.getSort().getOrderFor('nom')?.descending}? #{sort.desc}: #{sort.asc}">
                                    Nom
                                    <span th:if="${page.getSort().getOrderFor('nom')?.ascending}"
                                          class="fa fa-sort-up"></span>
                                    <span th:if="!${page.getSort().getOrderFor('nom')?.ascending}"
                                          class="fa fa-sort-down"></span>
                                </a>
                            </th>

                            <th></th>
                        </tr>
                        <tr th:each="famille : ${page.content}" class="bg-faded">
                            <td th:text="${famille.nom}"></td>
                            <td class="btn-group">
                                <a th:href="@{'/admin/familles/' + ${famille.id} +'/edit'}" class="btn btn-primary"
                                   th:title="#{edit}">
                                    <span class="fa fa-edit"></span>
                                </a>
                                <form th:action="@{'/admin/familles/' + ${famille.id} +'/delete'}" method="post">
                                    <button type="submit" class="btn btn-danger" th:title="#{delete}">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <div class="row justify-content-center">
                        <nav aria-label="Page navigation example ">
                            <ul class="pagination ">
                                <li class="page-item">
                                    <a class="page-link" th:unless="${page.number} eq 0"
                                       th:href="'?page='+${(page.number)-1}+(${search.isEmpty()}?'':'&search='+${search})
                             +(${page.getSort().sorted? '&sort='+page.getSort().iterator().next().property+','+page.getSort().iterator().next().direction:''})"

                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">
                                    <span th:text="${page.number+1}+'/'+${page.totalPages}"></span></a></li>
                                <li class="page-item">
                                    <a class="page-link" th:unless="${page.number+1} ge ${page.totalPages}"
                                       th:href="'?page='+${page.number+1}+(${search.isEmpty()}?'':'&search='+${search})
                           +(${page.getSort().sorted? '&sort='+page.getSort().iterator().next().property+','+page.getSort().iterator().next().direction:''})"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>