<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('admin')"></div>
<div class="row" id="body-row">
	<div th:replace="admin/fragment :: menu"></div>
	<div class="col-9">
		<br/>
		<ul class="breadcrumb py-3">
			<li class="breadcrumb-item"><a th:href="@{'/admin/engins'}"><i
					class="fa fa-arrow-circle-left fa-lg"></i></a></li>
			<li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
			<li class="breadcrumb-item"><a th:href="@{'/admin'}" th:text="#{admin}"></a></li>
			<li class="breadcrumb-item"><a th:href="@{'/admin/engins'}" th:text="#{admin.engins}"></a></li>
			<li class="breadcrumb-item" th:text="${edit}? #{edit}: #{add}"></li>
		</ul>

	</div>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>