<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('admin')"></div>
<div class="bmd-layout-container bmd-drawer-f-l  bmd-drawer-overlay-md-down">
	<div th:replace="admin/fragment :: menu('en')"></div>
	<main class="bmd-layout-content">
		<div class="container">
			<button class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm active" type="button" data-toggle="drawer"
					data-target="#side" style="margin-top: 10px">
				<i class="material-icons text-light">menu</i>
			</button>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/admin'}" th:text="#{admin}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/admin/engins'}" th:text="#{admin.engins}"></a></li>
				<li class="breadcrumb-item" th:text="${edit}? #{admin.engin.edit}: #{admin.engin.add}"></li>
			</ol>
			<form class="card p-5" method="post" th:object="${engin}">
				<h3 class="text-center"
					th:text="${edit}?#{admin.engin.edit}: #{admin.engin.add}"></h3>
				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<h4 class="alert-heading" th:text="#{formError}"></h4>
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="code" th:text="#{engin.code}"></label>
					<input type="text" id="code"
						   class="form-control" th:field="*{code}"/>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="numeroSerie" th:text="#{engin.numeroSerie}"></label>
					<input type="text" id="numeroSerie"
						   class="form-control" th:field="*{numeroSerie}"/>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="compteurInitialH"
						   th:text="#{engin.compteurInitialH}"></label>
					<input type="number" id="compteurInitialH"
						   class="form-control" th:field="*{compteurInitialH}"/>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="compteurInitialKm"
						   th:text="#{engin.compteurInitialKm}"></label>
					<input type="number" id="compteurInitialKm"
						   class="form-control" th:field="*{compteurInitialKm}"/>
				</div>
                <div class="form-group">
                    <label class="bmd-label-floating" for="objectif"
                           th:text="#{engin.objectif}"></label>
                    <input type="number" id="objectif"
                           class="form-control" th:field="*{objectif}"/>
                </div>
				<div class="input-group mb-3">
					<label class="input-group-text text-muted" for="sousFamille" th:text="#{engin.sousFamille}"></label>
					<a target="_blank" class="btn active bmd-btn-fab bmd-btn-fab-sm ml-2"
					   href="/admin/sousFamilles/add" th:title="#{admin.sousFamille.add}">
						<i class="material-icons mt-2">add</i>
					</a>
					<select class="js-example-basic-single" id="sousFamille" th:field="*{sousFamille.id}">
						<option th:each="sousFamille : ${sousFamilles}" th:value="${sousFamille.id}"
								th:text="${sousFamille.nom}"></option>
					</select>
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text text-muted" for="groupe" th:text="#{engin.groupe}"></label>
					<a target="_blank" class="btn active bmd-btn-fab bmd-btn-fab-sm ml-2"
					   href="/admin/groupes/add" th:title="#{admin.groupe.add}">
						<i class="material-icons mt-2">add</i>
					</a>
					<select class="js-example-basic-single" id="groupe" th:field="*{groupe.id}">
						<option th:each="groupe : ${groupes}" th:value="${groupe.id}"
								th:text="${groupe.nom}"></option>
					</select>
				</div>
				<button type="submit" class="btn btn-success btn-raised">
					[[${edit}?#{save}: #{add}]]
				</button>
				<a href="/admin/engins/" class="btn btn-secondary btn-raised">
					[[#{cancel}]]
				</a>
			</form>
		</div>
	</main>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>