<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu2('admin')"></div>
<div class="wrapper">
	<div th:replace="admin/fragment :: menu('')"></div>
    <!--/*@thymesVar id="engin" type="me.kadarh.mecaworks.domain.others.Engin"*/-->

	<div id="content" style="width: 100%">
		<button type="button" id="sidebarCollapse" class="btn menuButton">
			<i class="glyphicon glyphicon-align-left fa fa-bars"></i>
		</button>

        <div class="col-12">
            <br/>
            <ul class="breadcrumb py-3">
                <li class="breadcrumb-item"><a th:href="@{'/admin/engins'}"><i
                        class="fa fa-arrow-circle-left fa-lg"></i></a></li>
                <li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
                <li class="breadcrumb-item"><a th:href="@{'/admin'}" th:text="#{admin}"></a></li>
                <li class="breadcrumb-item"><a th:href="@{'/admin/engins'}" th:text="#{admin.engins}"></a></li>
                <li class="breadcrumb-item" th:text="${edit}? #{admin.engin.edit}: #{admin.engin.add}"></li>
            </ul>
			<div>
                <form class="form-horizontal bg-faded p-4" role="form" method="post"
                      th:object="${engin}">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <hr>
							<h3 class="text-center" th:text="${edit}?#{admin.engin.edit}: #{admin.engin.add}"></h3>
                            <hr>
                        </div>
                    </div>
					<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<div class="row pl-4">
							<p th:text="#{formError}"></p>
						</div>
						<div class="row col-12 help-block">
							<ul>
								<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
                    <div class="row">
                        <div class="col-3 field-label-responsive">
                            <label for="code" th:text="#{engin.code}"></label>
                        </div>
                        <div class="col-7">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-sort"></i>
                                    </div>
                                    <input type="text" id="code"
                                           class="form-control" th:field="*{code}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 field-label-responsive">
                            <label for="numeroSerie" th:text="#{engin.numeroSerie}"></label>
                        </div>
                        <div class="col-7">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-sort"></i>
                                    </div>
                                    <input type="text" id="numeroSerie"
                                           class="form-control" th:field="*{numeroSerie}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 field-label-responsive">
                            <label for="compteurInitialH" th:text="#{engin.compteurInitialH}"></label>
                        </div>
                        <div class="col-7">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-sort"></i>
                                    </div>
                                    <input type="number" id="compteurInitialH"
                                           class="form-control" th:field="*{compteurInitialH}"/>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-3 field-label-responsive">
                            <label for="compteurInitialKm" th:text="#{engin.compteurInitialKm}"></label>
                        </div>
                        <div class="col-7">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-sort"></i>
                                    </div>
                                    <input type="number" id="compteurInitialKm"
                                           class="form-control" th:field="*{compteurInitialKm}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 field-label-responsive">
                            <label for="sousFamille" th:text="#{engin.sousFamille}"></label>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-sort"></i>
                                    </div>
                                    <select class="col-11" id="sousFamille" th:field="*{sousFamille.id}">
                                        <option th:each="sousFamille : ${sousFamilles}" th:value="${sousFamille.id}"
                                                th:text="${sousFamille.nom}"></option>
                                    </select>
									<a target="_blank" role="button" class="ml-2 btn btn-sm btn-link"
									   href="/admin/sousFamilles/add" th:text="#{admin.sousFamille.add}"></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-3 field-label-responsive">
                            <label for="groupe" th:text="#{engin.groupe}"></label>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-sort"></i>
                                    </div>
                                    <select class="col-11" id="groupe" th:field="*{groupe.id}">
                                        <option th:each="groupe : ${groupes}" th:value="${groupe.id}"
                                                th:text="${groupe.nom}"></option>
                                    </select>
									<a target="_blank" role="button" class="ml-2 btn btn-sm btn-link"
									   href="/admin/groupes/add"
									   th:text="#{admin.groupe.add}"></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-success"><i class="fa"></i>
                                [[${edit}?#{save}: #{add}]]
                            </button>
							<a th:if="${edit}" href="/admin/engins" class="btn btn-secondary"><i class="fa"></i>
								[[#{cancel}]]
							</a>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>

</body>
<div th:replace="fragments :: footer"></div>
</html>