<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('admin')"></div>
<div class="bmd-layout-container bmd-drawer-f-l  bmd-drawer-overlay-md-down">
	<div th:replace="admin/fragment :: menu('en')"></div>
	<main class="bmd-layout-content">
		<div class="container">
			<button class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm active" type="button" data-toggle="drawer"
					data-target="#side" style="margin-top: 10px">
				<i class="material-icons text-light">menu</i>
			</button>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/admin'}" th:text="#{admin}"></a></li>
				<li class="breadcrumb-item" th:text="#{admin.engins}"></li>
			</ol>
			<a th:href="@{'/admin/engins/add'}" class="btn btn-success bmd-btn-fab float-right"
			   th:title="#{admin.engin.add}">
				<i class="material-icons mt-3">add</i>
			</a>
			<form class="form-inline justify-content-center" method="get" th:action="@{'/admin/engins'}">
				<div class="form-group">
					<input class="form-control col-12" type="text" th:name="search" th:value="${search}"
						   th:placeholder="#{admin.engin.searchPlaceHolder}">
					<button class="btn btn-secondary col btn-raised" type="submit" th:text="#{search}"></button>
				</div>
			</form>
			<div class="jumbotron alert alert-primary" th:if="${#lists.isEmpty(page.content)}">
				<h1 class="text-center alert-heading" th:text="#{empty}"></h1>
			</div>

			<div class="table-responsive card" th:if="!${#lists.isEmpty(page.content)}">
				<table class="table table-sm table-hover table-bordered">
					<thead class="bg-primary">
					<tr>
						<th th:with="desc=${page.getSort().getOrderFor('code')?.descending}">
							[[#{engin.code}]]
							<a th:href="'?page=0&sort=code'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('numeroSerie')?.descending}">
							[[#{engin.numeroSerie}]]
							<a th:href="'?page=0&sort=numeroSerie'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('compteurInitialH')?.descending}">
							[[#{engin.compteurInitialH}]]
							<a th:href="'?page=0&sort=compteurInitialH'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('compteurInitialKm')?.descending}">
							[[#{engin.compteurInitialKm}]]
							<a th:href="'?page=0&sort=compteurInitialKm'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('sousFamille.nom')?.descending}">
							[[#{engin.sousFamille}]]
							<a th:href="'?page=0&sort=sousFamille.nom'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('groupe.nom')?.descending}">
							[[#{engin.groupe}]]
							<a th:href="'?page=0&sort=groupe.nom'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="engin : ${page.content}">
						<td th:text="${engin.code}"></td>
						<td th:text="${engin.numeroSerie}"></td>
						<td th:text="${engin.compteurInitialH}"></td>
						<td th:text="${engin.compteurInitialKm}"></td>
						<td th:text="${engin.sousFamille.nom}"></td>
						<td th:text="${engin.groupe.nom}"></td>
						<td class="btn-group">
							<button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex3"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">more_vert</i>
							</button>
							<div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex3">
								<form th:action="@{'/admin/engins/' + ${engin.id} +'/delete'}" method="post">
									<a th:href="@{'/admin/engins/' + ${engin.id} +'/edit'}"
									   class="dropdown-item">
										<i class="material-icons">edit</i> [[#{edit}]]
									</a>
									<button type="submit" class="dropdown-item">
										<i class="material-icons">delete</i> [[#{delete}]]
									</button>
								</form>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${page.number} eq 0?'disabled':''">
						<a class="page-link"
						   th:href="'?page='+${(page.number)-1}+(${search.isEmpty()}?'':'&search='+${search})
						 +(${page.getSort().sorted? '&sort='+page.getSort().iterator().next().property
						 +','+page.getSort().iterator().next().direction:''})">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item active">
						<a class="page-link" th:text="${page.number+1}+'/'+${page.totalPages} "></a>
					</li>
					<li class="page-item" th:classappend="${page.number+1} ge ${page.totalPages}?'disabled':''">
						<a class="page-link"
						   th:href="'?page='+${page.number+1}+(${search.isEmpty()}?'':'&search='+${search})
					   +(${page.getSort().sorted? '&sort='+page.getSort().iterator().next().property
					   +','+page.getSort().iterator().next().direction:''})">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</main>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>