<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:fragment="menu">

	<nav id="sidebar">
		<div class="sidebar-header">
			<h3>Menu Admin</h3>
		</div>

		<!-- Sidebar Links -->
		<ul class="list-unstyled components">
			<li class="active"><a th:href="@{'/admin/chantiers'}" th:text="#{admin.chantiers}">Home</a></li>
			<li class="active"><a th:href="@{'/admin/engins'}" th:text="#{admin.engins}">Home</a></li>
			<li class="active"><a th:href="@{'/admin/employes'}" th:text="#{admin.employes}">Home</a></li>
			<li class="active"><a th:href="@{'/admin/fournisseurs'}" th:text="#{admin.fournisseurs}">Home</a></li>
			<!-- <li>Link with dropdown items
				<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
				<ul class="collapse list-unstyled" id="homeSubmenu">
					<li><a href="#">Page</a></li>
					<li><a href="#">Page</a></li>
					<li><a href="#">Page</a></li>
				</ul>
			</li> -->
		</ul>
	</nav>
</div>
</body>
</html>