<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:fragment="menu">
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
        <ul class="list-group">
			<li><a th:href="@{'/admin/chantiers'}" aria-expanded="false"
				   class="list-group-item list-group-item-action bg-warning text-black flex-column align-items-start">
                <div class="d-flex w-100 justify-content-center align-items-center ">
					<span class="menu-collapsed" th:text="#{admin.chantiers}"></span>
                </div>
            </a></li>
			<li><a th:href="@{'/admin/engins'}" aria-expanded="false"
				   class="list-group-item list-group-item-action bg-warning text-black flex-column align-items-start">
				<div class="d-flex w-100 justify-content-center align-items-center ">
					<span class="menu-collapsed" th:text="#{admin.engins}"></span>
                </div>
            </a></li>
			<li><a th:href="@{'/admin/employes'}" aria-expanded="false"
				   class="list-group-item list-group-item-action bg-warning text-black flex-column align-items-start">
				<div class="d-flex w-100 justify-content-center align-items-center ">
					<span class="menu-collapsed" th:text="#{admin.employes}"></span>
				</div>
			</a></li>
			<li><a th:href="@{'/admin/fournisseurs'}" aria-expanded="false"
				   class="list-group-item list-group-item-action bg-warning text-black flex-column align-items-start">
				<div class="d-flex w-100 justify-content-center align-items-center ">
					<span class="menu-collapsed" th:text="#{admin.fournisseurs}"></span>
				</div>
			</a></li>

        </ul>
    </div>
</div>
</body>
</html>