<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu2('admin')"></div>
<div class="wrapper">

	<div th:replace="admin/fragment :: menu('')"></div>

	<div id="content">
		<button type="button" id="sidebarCollapse" class="btn menuButton">
			<i class="glyphicon glyphicon-align-left fa fa-bars"></i>
		</button>
		<div class="col-12">
			<br/>
			<ul class="breadcrumb py-3">
				<li class="breadcrumb-item"><a th:href="@{'/'}"><i class="fa fa-arrow-circle-left fa-lg"></i></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
				<li class="breadcrumb-item" th:text="#{admin}"></li>
			</ul>

			<div class="row ml-3">
				<div class="col-sm-6 col-md-4 col-lg-3 mt-4 mr-4 ml-4 bg-faded"
					 style="box-shadow:2px 2px 3px 3px darkseagreen;">
					<div class=" text-center">
						<div>
							<h2 class="py-3"><a th:href="@{'/admin/chantiers'}"><i class="fa fa-list-alt"></i> <span
									th:text="#{admin.chantiers}"></span></a>
							</h2>
						</div>
						<hr/>
						<blockquote class="card-blockquote p-3">
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
								libero.</p>
						</blockquote>
					</div>
					<div class="card-footer text-center">
						<a class="btn btn-sm btn-link" th:href="@{'/admin/chantiers/add'}">
							[[#{admin.chantier.add}]] <i class="fa fa-plus"></i>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-3 mt-4 mr-4 ml-4 bg-faded"
					 style="box-shadow:2px 2px 3px 3px darkseagreen;">
					<div class=" text-center">
						<div>
							<h2 class="py-3"><a th:href="@{'/admin/engins'}"><i class="fa fa-list-alt"></i> <span
									th:text="#{admin.engins}"></span></a>
							</h2>
						</div>
						<hr/>
						<blockquote class="card-blockquote p-3">
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
								libero.</p>
						</blockquote>
					</div>
					<div class="card-footer text-center">
						<a class="btn btn-sm btn-link" th:href="@{'/admin/engins/add'}">
							[[#{admin.engin.add}]] <i class="fa fa-plus"></i>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-3 mt-4 mr-4 ml-4 bg-faded"
					 style="box-shadow:2px 2px 3px 3px darkseagreen;">
					<div class=" text-center">
						<div>
							<h2 class="py-3"><a th:href="@{'/admin/employes'}"><i class="fa fa-list-alt"></i> <span
									th:text="#{admin.employes}"></span></a>
							</h2>
						</div>
						<hr/>
						<blockquote class="card-blockquote p-3">
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
								libero.</p>
						</blockquote>
					</div>
					<div class="card-footer text-center">
						<a class="btn btn-sm btn-link" th:href="@{'/admin/employes/add'}">
							[[#{admin.employe.add}]] <i class="fa fa-plus"></i>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-3 mt-4 mr-4 ml-4 bg-faded"
					 style="box-shadow:2px 2px 3px 3px darkseagreen;">
					<div class=" text-center">
						<div>
							<h2 class="py-3"><a th:href="@{'/admin/fournisseurs'}"><i class="fa fa-list-alt"></i> <span
									th:text="#{admin.fournisseurs}"></span></a>
							</h2>
						</div>
						<hr/>
						<blockquote class="card-blockquote p-3">
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
								libero.</p>
						</blockquote>
					</div>
					<div class="card-footer text-center">
						<a class="btn btn-sm btn-link" th:href="@{'/admin/fournisseurs/add'}">
							[[#{admin.fournisseur.add}]] <i class="fa fa-plus"></i>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>