<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('saisi')"></div>
<div class="bmd-layout-container bmd-drawer-f-l  bmd-drawer-overlay-md-down">
	<div th:replace="saisi/fragment :: menu('ea')"></div>
	<main class="bmd-layout-content">
		<div class="container">
			<button class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm active" type="button" data-toggle="drawer"
					data-target="#side" style="margin-top: 10px">
				<i class="material-icons text-light">menu</i>
			</button>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/saisi'}" th:text="#{saisie}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/saisi/engins'}" th:text="#{saisie.engin.list}"></a></li>
				<li class="breadcrumb-item" th:text="#{saisie.engin.add}"></li>
			</ol>
			<form class="card p-5" method="post" th:object="${bonEngin}">
				<h3 class="text-center"
					th:text="#{saisie.engin.add}"></h3>
				<div th:if="${hasError}" class="alert alert-dark text-warning">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="alert-heading" th:text="#{bon.hasError}"></h4>
					<ul>
						<li th:text="#{bon.hasError.msg1}"></li>
						<li th:text="#{bon.hasError.msg2}"></li>
					</ul>
				</div>
				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<h4 class="alert-heading" th:text="#{formError}"></h4>
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="code" th:text="#{bonEngin.code}"></label>
					<input type="text" id="code"
						   class="form-control" th:field="*{code}"/>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="date" th:text="#{bonEngin.date}"></label>
					<input data-toggle="datepicker" class="form-control" id="date"
						   th:field="*{date}">
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text text-muted" for="engin"
						   th:text="#{bonEngin.engin}"></label>
					<select class="js-example-basic-single" id="engin" th:field="*{engin.id}">
						<option th:each="engin : ${engins}" th:value="${engin.id}"
								th:text="${engin.code+' - '+engin.numeroSerie+' | '+engin.sousFamille.nom}"></option>
					</select>
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text text-muted" for="chauffeur"
						   th:text="#{bonEngin.chauffeur}"></label>
					<select class="js-example-basic-single" id="chauffeur" th:field="*{chauffeur.id}">
						<option th:each="chauffeur : ${employes}" th:value="${chauffeur.id}"
								th:text="${chauffeur.nom}"></option>
					</select>
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text text-muted" for="chantierGazoil"
						   th:text="#{bonEngin.chantierGazoil}"></label>
					<select class="js-example-basic-single" id="chantierGazoil" th:field="*{chantierGazoil.id}">
						<option th:each="chantierGazoil : ${chantiers}" th:value="${chantierGazoil.id}"
								th:text="${chantierGazoil.nom}"></option>
					</select>
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text text-muted" for="chantierTravail"
						   th:text="#{bonEngin.chantierTravail}"></label>
					<select class="js-example-basic-single" id="chantierTravail" th:field="*{chantierTravail.id}">
						<option th:each="chantierTravail : ${chantiers}" th:value="${chantierTravail.id}"
								th:text="${chantierTravail.nom}"></option>
					</select>
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text text-muted" for="pompiste"
						   th:text="#{bonEngin.pompiste}"></label>
					<select class="js-example-basic-single" id="pompiste" th:field="*{pompiste.id}">
						<option th:each="pompiste : ${employes}" th:value="${pompiste.id}"
								th:text="${pompiste.nom}"></option>
					</select>
				</div>
				<div class="input-group row pt-5">
					<label class="col text-muted" th:text="#{bonEngin.carburant}"></label>
					<label class="radio-inline col" th:each="i : ${carburants}">
						<input type="radio" th:field="*{carburant}" th:value="${i}" th:text="${i}">
					</label>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="quantite" th:text="#{bonEngin.quantite}"></label>
					<input type="number" id="quantite"
						   class="form-control" th:field="*{quantite}"/>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="compteurKm" th:text="#{bonEngin.compteurKm}"></label>
					<input type="number" id="compteurKm"
						   class="form-control" th:field="*{compteurKm}"/>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="compteurH" th:text="#{bonEngin.compteurH}"></label>
					<input type="number" id="compteurH"
						   class="form-control" th:field="*{compteurH}"/>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="compteurPompe" th:text="#{bonEngin.compteurPompe}"></label>
					<input type="number" id="compteurPompe"
						   class="form-control" th:field="*{compteurPompe}"/>
				</div>
				<div class="switch pl-5">
					<label>
						<input type="checkbox" th:field="*{plein}"> [[#{bonEngin.plein}]]
					</label>
				</div>
				<div class="row pl-5 pb-5">
					<div class="switch col">
						<label>
							<input type="checkbox" th:field="*{compteurHenPanne}"> [[#{bonEngin.compteurHenPanne}]]
						</label>
					</div>
					<div class="switch col">
						<label>
							<input type="checkbox" th:field="*{compteurKmenPanne}"> [[#{bonEngin.compteurKmenPanne}]]
						</label>
					</div>
				</div>
				<button type="submit" class="btn btn-success btn-raised">
					[[${edit}?#{save}: #{add}]]
				</button>
				<a href="/saisi/engins/" class="btn btn-secondary btn-raised">
					[[#{cancel}]]
				</a>
			</form>
		</div>
	</main>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>