<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('saisi')"></div>
<div class="bmd-layout-container bmd-drawer-f-l  bmd-drawer-overlay-md-down">
	<div th:replace="admin/fragment :: menu('')"></div>
	<main class="bmd-layout-content">
		<div class="container">
			<button class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm active" type="button" data-toggle="drawer"
					data-target="#side" style="margin-top: 10px">
				<i class="material-icons text-light">menu</i>
			</button>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/saisi'}" th:text="#{saisie}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/saisi/engins'}" th:text="#{saisie.engin.list}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/saisi/engins/Add'}" th:text="#{saisie.engin.add}"></a></li>
				<li class="breadcrumb-item" th:text="#{saisie.engin.confirm}"></li>
			</ol>

			<div class="alert alert-warning">
				<!--todo add externalized messages-->
				<h4 class="alert-heading">Attention</h4>
				<hr>
				<p>Attention message 1</p>
				<p>Attention message 2</p>
			</div>
            <!--todo : resolve it
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <h4 class="alert-heading" th:text="#{formError}"></h4>
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div> -->
			<form action="/saisi/engins/confirm" class="card p-5" method="post" th:object="${bon}">
				<input type="hidden" th:field="*{date}">
				<input type="hidden" th:field="*{code}">
				<input type="hidden" th:field="*{chantierGazoil.id}">
				<input type="hidden" th:field="*{chantierTravail.id}">
				<input type="hidden" th:field="*{engin.id}">
				<input type="hidden" th:field="*{pompiste.id}">
				<input type="hidden" th:field="*{chauffeur.id}">
				<input type="hidden" th:field="*{quantite}">
				<input type="hidden" th:field="*{compteurKm}">
				<input type="hidden" th:field="*{compteurH}">
				<input type="hidden" th:field="*{compteurHenPanne}">
				<input type="hidden" th:field="*{compteurKmenPanne}">
				<input type="hidden" th:field="*{plein}">
				<input type="hidden" th:field="*{compteurAbsoluKm}">
				<input type="hidden" th:field="*{compteurAbsoluH}">
				<input type="hidden" th:field="*{consommationKm}">
				<input type="hidden" th:field="*{consommationH}">

				<button type="submit" class="btn btn-info btn-raised">
					[[#{saisie.engin.confirm}]]
				</button>
				<a href="/saisi/engins/" class="btn btn-dark btn-raised">
					[[#{cancel}]]
				</a>
			</form>
		</div>
	</main>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>