<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('saisi')"></div>
<div class="bmd-layout-container bmd-drawer-f-l  bmd-drawer-overlay-md-down">
	<div th:replace="admin/fragment :: menu('es')"></div>
	<main class="bmd-layout-content">
		<div class="container">
			<button class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm active" type="button" data-toggle="drawer"
					data-target="#side" style="margin-top: 10px">
				<i class="material-icons text-light">menu</i>
			</button>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/saisi'}" th:text="#{saisie}"></a></li>
				<li class="breadcrumb-item" th:text="#{saisie.engin.list}"></li>
			</ol>
			<a th:href="@{'/saisi/engins/add'}" class="btn btn-success bmd-btn-fab float-right"
			   th:title="#{saisie.engin.add}">
				<i class="material-icons mt-3">add</i>
			</a>
			<form th:replace="fragments :: search(#{saisie.engin.placeHolder})"></form>
			<div class="jumbotron alert alert-primary" th:if="${#lists.isEmpty(page.content)}">
				<h1 class="text-center alert-heading" th:text="#{empty}"></h1>
			</div>

			<div class="table-responsive card" th:if="!${#lists.isEmpty(page.content)}">
				<table class="table table-sm table-hover table-bordered">
					<thead class="bg-primary">
					<tr>
						<th th:with="desc=${page.getSort().getOrderFor('date')?.descending}">
							[[#{bonEngin.date}]]
							<a th:href="'?page=0&sort=date'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('code')?.descending}">
							[[#{bonEngin.code}]]
							<a th:href="'?page=0&sort=code'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('chantierGazoil.nom')?.descending}">
							[[#{bonEngin.chantierGazoil}]]
							<a th:href="'?page=0&sort=chantierGazoil.nom'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('chantierTravail.nom')?.descending}">
							[[#{bonEngin.chantierTravail}]]
							<a th:href="'?page=0&sort=chantierTravail.nom'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('engin.numeroSerie')?.descending}">
							[[#{bonEngin.engin}]]
							<a th:href="'?page=0&sort=engin.numeroSerie'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('pompiste.nom')?.descending}">
							[[#{bonEngin.pompiste}]]
							<a th:href="'?page=0&sort=pompiste.nom'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('chauffeur.nom')?.descending}">
							[[#{bonEngin.chauffeur}]]
							<a th:href="'?page=0&sort=chauffeur.nom'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('quantite')?.descending}">
							[[#{bonEngin.quantite}]]
							<a th:href="'?page=0&sort=quantite'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('compteurKm')?.descending}">
							[[#{bonEngin.compteurKm}]]
							<a th:href="'?page=0&sort=compteurKm'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('compteurH')?.descending}">
							[[#{bonEngin.compteurH}]]
							<a th:href="'?page=0&sort=compteurH'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('compteurKmenPanne')?.descending}">
							[[#{bonEngin.compteurKmenPanne}]]
							<a th:href="'?page=0&sort=compteurKmenPanne'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('compteurHenPanne')?.descending}">
							[[#{bonEngin.compteurHenPanne}]]
							<a th:href="'?page=0&sort=compteurHenPanne'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('plein')?.descending}">
							[[#{bonEngin.plein}]]
							<a th:href="'?page=0&sort=plein'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('compteurAbsoluKm')?.descending}">
							[[#{bonEngin.compteurAbsoluKm}]]
							<a th:href="'?page=0&sort=compteurAbsoluKm'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('compteurAbsoluH')?.descending}">
							[[#{bonEngin.compteurAbsoluH}]]
							<a th:href="'?page=0&sort=compteurAbsoluH'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('consommationKm')?.descending}">
							[[#{bonEngin.consommationKm}]]
							<a th:href="'?page=0&sort=consommationKm'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('consommationH')?.descending}">
							[[#{bonEngin.consommationH}]]
							<a th:href="'?page=0&sort=consommationH'+(${desc}?'':',desc')+(${search.isEmpty()}?'':'&search='+${search})">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="bon : ${page.content}">
						<td th:text="${bon.date}"></td>
						<td th:text="${bon.code}"></td>
						<td th:text="${bon.chantierGazoil?.nom}"></td>
						<td th:text="${bon.chantierTravail?.nom}"></td>
						<td th:text="${bon.engin?.numeroSerie}"></td>
						<td th:text="${bon.pompiste?.nom}"></td>
						<td th:text="${bon.chauffeur?.nom}"></td>
						<td th:text="${bon.quantite}"></td>
						<td th:text="${bon.compteurKm}"></td>
						<td th:text="${bon.compteurH}"></td>
						<td>
							<i class="material-icons" th:text="${bon.compteurKmenPanne}?'done':'close'"></i>
						</td>
						<td>
							<i class="material-icons" th:text="${bon.compteurHenPanne}?'done':'close'"></i>
						</td>
						<td>
							<i class="material-icons" th:text="${bon.plein}?'done':'close'"></i>
						</td>
						<td th:text="${bon.compteurAbsoluKm}"></td>
						<td th:text="${bon.compteurAbsoluH}"></td>
						<td th:text="${bon.consommationKm}"></td>
						<td th:text="${bon.consommationH}"></td>
						<td class="btn-group">
							<button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex3"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">more_vert</i>
							</button>
							<div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex3">
								<form th:action="@{'/saisi/engins/' + ${bon.id} +'/delete'}" method="post">
									<a th:href="@{'/saisi/engins/' + ${bon.id} +'/edit'}"
									   class="dropdown-item">
										<i class="material-icons">edit</i> [[#{edit}]]
									</a>
									<button type="submit" class="dropdown-item">
										<i class="material-icons">delete</i> [[#{delete}]]
									</button>
								</form>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<ul th:replace="fragments :: pagination"></ul>
		</div>
	</main>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>