<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu2('admin')"></div>
<div class="wrapper">
	<div th:replace="admin/fragment :: menu('')"></div>
    <!--/*@thymesVar id="employe" type="me.kadarh.mecaworks.domain.others.Employe"*/-->

	<div id="content" style="width: 100%">
		<button type="button" id="sidebarCollapse" class="btn menuButton">
			<i class="glyphicon glyphicon-align-left fa fa-bars"></i>
		</button>

        <div class="col-12">
            <br/>
            <ul class="breadcrumb py-3">
                <li class="breadcrumb-item"><a th:href="@{'/admin/employes'}"><i
                        class="fa fa-arrow-circle-left fa-lg"></i></a></li>
                <li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
                <li class="breadcrumb-item"><a th:href="@{'/admin'}" th:text="#{admin}"></a></li>
                <li class="breadcrumb-item"><a th:href="@{'/admin/employes'}" th:text="#{admin.employes}"></a></li>
                <li class="breadcrumb-item" th:text="${edit}? #{admin.employe.edit}: #{admin.employe.add}"></li>
            </ul>
			<div>
                <form class="form-horizontal bg-faded p-4" role="form" method="post"
                      th:object="${employe}">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <hr>
							<h3 class="text-center" th:text="${edit}?#{admin.employe.edit}: #{admin.employe.add}"></h3>
                            <hr>
                        </div>
                    </div>
					<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<div class="row pl-4">
							<p th:text="#{formError}"></p>
						</div>
						<div class="row col-12 help-block">
							<ul>
								<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
                    <div class="row">
                        <div class="col-2 field-label-responsive">
                            <label for="nom" th:text="#{employe.nom}"></label>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-sort"></i>
                                    </div>
                                    <input type="text" id="nom"
                                           class="form-control" th:field="*{nom}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 field-label-responsive">
                            <label for="metier" th:text="#{employe.metier}"></label>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-sort"></i>
                                    </div>
                                    <select class="col-11" id="metier" th:field="*{metier}">
                                        <option th:each="metier : ${metiers}" th:value="${metier}"
                                                th:text="${metier}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-success"><i class="fa"></i>
                                [[${edit}?#{save}: #{add}]]
                            </button>
							<a th:if="${edit}" href="/admin/employes" class="btn btn-secondary"><i class="fa"></i>
								[[#{cancel}]]
							</a>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>

</body>
<div th:replace="fragments :: footer"></div>
</html>