<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:fragment="menu">
	<nav id="sidebar">
		<div class="sidebar-header">
			<h3 class="p-2">Menu Saisi</h3>
		</div>

		<!-- Sidebar Links -->
		<ul class="list-unstyled components">
			<li class="active"><a th:href="@{'/saisi/engins/add'}" th:text="#{saisie.engin.add}"></a></li>
			<li class="active"><a th:href="@{'/saisi/livraisons/add'}" th:text="#{saisie.livraison.add}"></a></li>
			<li class="active"><a th:href="@{'/saisi/fournisseurs/add'}" th:text="#{saisie.livraison.add}"></a></li>
			<li class="active"><a th:href="@{'/saisi/engins'}" th:text="#{saisie.engin.list}"></a></li>
			<li class="active"><a th:href="@{'/saisi/livraisons'}" th:text="#{saisie.livraison.list}"></a></li>
			<li class="active"><a th:href="@{'/saisi/fournisseurs'}" th:text="#{saisie.fournisseur.list}"></a></li>
		</ul>
	</nav>

</div>
</body>
</html>