<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('user')"></div>
<div class="bmd-layout-container bmd-drawer-f-l  bmd-drawer-overlay-md-down">
    <div th:replace="user/fragment :: menu('a')"></div>
    <main class="bmd-layout-content">
        <div class="container">
            <button class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm active" type="button" data-toggle="drawer"
                    data-target="#side" style="margin-top: 10px">
                <i class="material-icons text-light">menu</i>
            </button>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
                <li class="breadcrumb-item"><a th:href="@{'/user'}" th:text="#{user}"></a></li>
                <li class="breadcrumb-item" th:text="#{user.alertes}"></li>
            </ol>
            <div class="jumbotron alert alert-primary" th:if="${#lists.isEmpty(alerts)}">
                <h1 class="text-center alert-heading" th:text="#{empty}"></h1>
            </div>
            <!--/*@thymesVar id="alerte" type="me.kadarh.mecaworks.domain.alertes.Alerte"*/-->
            <div class="table-responsive card" th:if="!${#lists.isEmpty(alerts)}">
                <table id="myTableFilter" class="display table table-sm table-hover table-bordered">
                    <thead class="bg-primary">
                    <tr>
                        <th>
                        </th>
                        <th>
                            [[#{alerte.date}]]
                        </th>
                        <th>
                            [[#{alerte.typeAlerte}]]
                        </th>
                        <th>
                            [[#{alerte.message}]]
                        </th>
                        <th>
                            [[#{bonEngin.chauffeur}]]
                        </th>
                        <th>
                            [[#{engin.code}+' '+#{bonEngin.engin}]]
                        </th>
                        <th>
                            [[#{engin.groupe}]]
                        </th>
                        <th>
                            [[#{bonEngin.chantierTravail}]]
                        </th>
                        <th>
                            [[#{bonEngin.chantierGazoil}]]
                        </th>
                        <th>
                            [[#{bonEngin.code}]]
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="alerte : ${alerts}">
                        <td class="py-3">
                            <div class="text-center" th:if="${alerte.severity?.name() == 'WARNING'}">
                                <i class="material-icons orange600 md-40">report_problem</i>
                                <div class="icon-caption" th:text="${alerte.severity}"></div>
                            </div>
                            <div class="text-center" th:if="${alerte.severity?.name() == 'CRITIQUE'}">
                                <i class="material-icons red600 md-40">report_problem</i>
                                <div class="icon-caption" th:text="${alerte.severity}"></div>
                            </div>
                            <div class="text-center" th:if="${alerte.severity?.name() == 'NORMAL'}">
                                <i class="material-icons green600 md-40">report_problem</i>
                                <div class="icon-caption" th:text="${alerte.severity}"></div>
                            </div>
                        </td>
                        <td class="py-3" th:text="${alerte.date}"></td>
                        <td class="py-3" th:text="${alerte.typeAlerte}"></td>
                        <td class="py-3" th:text="${alerte.message}"></td>
                        <td class="py-3" th:text="${alerte.bonEngin?.chauffeur?.nom}"></td>
                        <td class="py-3" th:text="${alerte.bonEngin?.engin?.code}"></td>
                        <td class="py-3" th:text="${alerte.bonEngin?.engin?.groupe?.nom}"></td>
                        <td class="py-3" th:text="${alerte.bonEngin?.chantierTravail?.nom}"></td>
                        <td class="py-3" th:text="${alerte.bonEngin?.chantierGazoil?.nom}"></td>
                        <td class="py-3" th:text="${alerte.bonEngin?.code}"></td>
                        <td class="py-3">
                            <form method="post" th:action="'/user/alerte/'+${alerte.id}">
                                <button type="submit" class="btn btn-light bg-dark ">Oublier</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>