<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('admin')"></div>
<div class="bmd-layout-container bmd-drawer-f-l  bmd-drawer-overlay-md-down">
	<div th:replace="admin/fragment :: menu('m')"></div>
	<main class="bmd-layout-content">
		<div class="container">
			<button class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm active" type="button" data-toggle="drawer"
					data-target="#side" style="margin-top: 10px">
				<i class="material-icons text-light">menu</i>
			</button>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/admin'}" th:text="#{admin}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/admin/marques/add'}" th:text="#{admin.marques}"></a></li>
				<li class="breadcrumb-item" th:text="${edit}? #{admin.marque.edit}: #{admin.marque.add}"></li>
			</ol>
			<form class="card p-5" method="post" th:object="${marque}">
				<h3 class="text-center"
					th:text="${edit}?#{admin.marque.edit}: #{admin.marque.add}"></h3>
				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<h4 class="alert-heading" th:text="#{formError}"></h4>
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="nom" th:text="#{marque.nom}"></label>
					<input type="text" id="nom"
						   class="form-control" th:field="*{nom}"/>
				</div>
				<button type="submit" class="btn btn-success btn-raised">
					[[${edit}?#{save}: #{add}]]
				</button>
				<a href="/admin/marques/add" class="btn btn-secondary btn-raised">
					[[#{cancel}]]
				</a>
			</form>

			<hr id="hrTable">

			<form class="form-inline justify-content-center" method="get" th:action="@{'/admin/marques/add#hrTable'}">
				<div class="form-group">
					<input class="form-control col-12" type="text" th:name="search" th:value="${search}">
					<button class="btn btn-secondary col btn-raised" type="submit" th:text="#{search}"></button>
				</div>
			</form>

			<div class="jumbotron alert alert-primary" th:if="${#lists.isEmpty(page.content)}">
				<h1 class="text-center alert-heading" th:text="#{empty}"></h1>
			</div>

			<div class="table-responsive card" th:if="!${#lists.isEmpty(page.content)}">
				<table class="table table-sm table-hover table-bordered">
					<thead class="bg-primary">
					<tr>
						<th th:with="desc=${page.getSort().getOrderFor('nom')?.descending}">
							[[#{marque.nom}]]
							<a th:href="'?page=0&sort=nom'+(${desc}?'':',desc')+(${search.isEmpty()}?''+'#hrTable':'&search='+${search}+'#hrTable')">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="marque : ${page.content}">
						<td th:text="${marque.nom}"></td>
						<td class="btn-group">
							<button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex3"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">more_vert</i>
							</button>
							<div class="dropdown-menu  dropdown-menu-left" aria-labelledby="ex3">
								<form th:action="@{'/admin/marques/' + ${marque.id} +'/delete'}" method="post">
									<a th:href="@{'/admin/marques/' + ${marque.id} +'/edit'}"
									   class="dropdown-item">
										<i class="material-icons">edit</i> [[#{edit}]]
									</a>
									<button type="submit" class="dropdown-item">
										<i class="material-icons">delete</i> [[#{delete}]]
									</button>
								</form>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${page.number} eq 0?'disabled':''">
						<a class="page-link"
						   th:href="'?page='+${(page.number)-1}+(${search.isEmpty()}?'':'&search='+${search})
						 +(${page.getSort().sorted? '&sort='+page.getSort().iterator().next().property
						 +','+page.getSort().iterator().next().direction:''})">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item active">
						<a class="page-link" th:text="${page.number+1}+'/'+${page.totalPages} "></a>
					</li>
					<li class="page-item" th:classappend="${page.number+1} ge ${page.totalPages}?'disabled':''">
						<a class="page-link"
						   th:href="'?page='+${page.number+1}+(${search.isEmpty()}?'':'&search='+${search})
					   +(${page.getSort().sorted? '&sort='+page.getSort().iterator().next().property
					   +','+page.getSort().iterator().next().direction:''})">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</main>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>