<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('admin')"></div>
<div class="bmd-layout-container bmd-drawer-f-l  bmd-drawer-overlay-md-down">
	<div th:replace="admin/fragment :: menu('sf')"></div>
	<main class="bmd-layout-content">
		<div class="container">
			<button class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm active" type="button" data-toggle="drawer"
					data-target="#side" style="margin-top: 10px">
				<i class="material-icons text-light">menu</i>
			</button>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/admin'}" th:text="#{admin}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/admin/sousFamilles/add'}"
											   th:text="#{admin.sousFamilles}"></a></li>
				<li class="breadcrumb-item" th:text="${edit}? #{admin.sousFamille.edit}: #{admin.sousFamille.add}"></li>
			</ol>
			<form class="card p-5" method="post" th:object="${sousFamille}">
				<h3 class="text-center"
					th:text="${edit}?#{admin.sousFamille.edit}: #{admin.sousFamille.add}"></h3>
				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<h4 class="alert-heading" th:text="#{formError}"></h4>
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="nom" th:text="#{sousFamille.nom}"></label>
					<input type="text" id="nom"
						   class="form-control" th:field="*{nom}"/>
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text text-muted" for="typeCompteur"
						   th:text="#{sousFamille.typeCompteur}"></label>
					<select class="js-example-basic-single" id="typeCompteur" th:field="*{typeCompteur}">
						<option th:each="typeCompteur : ${typesCompteur}" th:value="${typeCompteur}"
								th:text="${typeCompteur}"></option>
					</select>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="consommationHMax"
						   th:text="#{sousFamille.consommationHMax}"></label>
					<input type="number" id="consommationHMax" class="form-control" th:field="*{consommationHMax}"/>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="consommationKmMax"
						   th:text="#{sousFamille.consommationKmMax}"></label>
					<input type="number" id="consommationKmMax" class="form-control" th:field="*{consommationKmMax}"/>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="capaciteReservoir"
						   th:text="#{sousFamille.capaciteReservoir}"></label>
					<input type="number" id="capaciteReservoir" class="form-control" th:field="*{capaciteReservoir}"/>
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text text-muted" for="famille" th:text="#{sousFamille.famille}"></label>
					<a target="_blank" class="btn active bmd-btn-fab bmd-btn-fab-sm ml-2"
					   href="/admin/familles/add" th:title="#{admin.famille.add}">
						<i class="material-icons mt-2">add</i>
					</a>
					<select class="js-example-basic-single" id="classe" th:field="*{famille.id}">
						<option th:each="famille : ${familles}" th:value="${famille.id}"
								th:text="${famille.nom}"></option>
					</select>
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text text-muted" for="marque" th:text="#{sousFamille.marque}"></label>
					<a target="_blank" class="btn active bmd-btn-fab bmd-btn-fab-sm ml-2"
					   href="/admin/marques/add" th:title="#{admin.marque.add}">
						<i class="material-icons mt-2">add</i>
					</a>
					<select class="js-example-basic-single" id="marque" th:field="*{marque.id}">
						<option th:each="marque : ${marques}" th:value="${marque.id}"
								th:text="${marque.nom}"></option>
					</select>
				</div>
				<button type="submit" class="btn btn-success btn-raised">
					[[${edit}?#{save}: #{add}]]
				</button>
				<a th:if="${edit}" href="/admin/sousFamilles/add" class="btn btn-secondary btn-raised">
					[[#{cancel}]]
				</a>
			</form>

			<hr id="hrTable">

			<form class="form-inline justify-content-center" method="get"
				  th:action="@{'/admin/sousFamilles/add#hrTable'}">
				<div class="form-group">
					<input class="form-control col-12" type="text" th:name="search" th:value="${search}">
					<button class="btn btn-secondary col btn-raised" type="submit" th:text="#{search}"></button>
				</div>
			</form>

			<div class="jumbotron alert alert-primary" th:if="${#lists.isEmpty(page.content)}">
				<h1 class="text-center alert-heading" th:text="#{empty}"></h1>
			</div>

			<div class="table-responsive card" th:if="!${#lists.isEmpty(page.content)}">
				<table class="table table-sm table-hover table-bordered">
					<thead class="bg-primary">
					<tr>
						<th th:with="desc=${page.getSort().getOrderFor('nom')?.descending}">
							[[#{sousFamille.nom}]]
							<a th:href="'?page=0&sort=nom'+(${desc}?'':',desc')+(${search.isEmpty()}?''+'#hrTable':'&search='+${search}+'#hrTable')">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('typeCompteur')?.descending}">
							[[#{sousFamille.typeCompteur}]]
							<a th:href="'?page=0&sort=typeCompteur'+(${desc}?'':',desc')+(${search.isEmpty()}?''+'#hrTable':'&search='+${search}+'#hrTable')">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('consommationHMax')?.descending}">
							[[#{sousFamille.consommationHMax}]]
							<a th:href="'?page=0&sort=consommationHMax'+(${desc}?'':',desc')+(${search.isEmpty()}?''+'#hrTable':'&search='+${search}+'#hrTable')">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('consommationKmMax')?.descending}">
							[[#{sousFamille.consommationKmMax}]]
							<a th:href="'?page=0&sort=consommationKmMax'+(${desc}?'':',desc')+(${search.isEmpty()}?''+'#hrTable':'&search='+${search}+'#hrTable')">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('capaciteReservoir')?.descending}">
							[[#{sousFamille.capaciteReservoir}]]
							<a th:href="'?page=0&sort=capaciteReservoir'+(${desc}?'':',desc')+(${search.isEmpty()}?''+'#hrTable':'&search='+${search}+'#hrTable')">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('famille.nom')?.descending}">
							[[#{sousFamille.famille}]]
							<a th:href="'?page=0&sort=famille.nom'+(${desc}?'':',desc')+(${search.isEmpty()}?''+'#hrTable':'&search='+${search}+'#hrTable')">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th th:with="desc=${page.getSort().getOrderFor('marque.nom')?.descending}">
							[[#{sousFamille.marque}]]
							<a th:href="'?page=0&sort=marque.nom'+(${desc}?'':',desc')+(${search.isEmpty()}?''+'#hrTable':'&search='+${search}+'#hrTable')">
								<i class="material-icons text-light"
								   th:text="${desc}?'keyboard_arrow_up':'keyboard_arrow_down'"></i>
							</a>
						</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="sousFamille : ${page.content}">
						<td th:text="${sousFamille.nom}"></td>
						<td th:text="${sousFamille.typeCompteur}"></td>
						<td th:text="${sousFamille.consommationHMax}"></td>
						<td th:text="${sousFamille.consommationKmMax}"></td>
						<td th:text="${sousFamille.capaciteReservoir}"></td>
						<td th:text="${sousFamille.famille?.nom}"></td>
						<td th:text="${sousFamille.marque?.nom}"></td>
						<td>
							<div class="btn-group">
								<button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex3"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="material-icons">more_vert</i>
								</button>
								<div class="dropdown-menu  dropdown-menu-left" aria-labelledby="ex3">
									<form th:action="@{'/admin/sousFamilles/' + ${sousFamille.id} +'/delete'}"
										  method="post">
										<a th:href="@{'/admin/sousFamilles/' + ${sousFamille.id} +'/edit'}"
										   class="dropdown-item">
											<i class="material-icons">edit</i> [[#{edit}]]
										</a>
										<button type="submit" class="dropdown-item">
											<i class="material-icons">delete</i> [[#{delete}]]
										</button>
									</form>
								</div>
							</div>
						</td>
					</tr>
					</tbody>
				</table>

				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${page.number} eq 0?'disabled':''">
						<a class="page-link"
						   th:href="'?page='+${(page.number)-1}+(${search.isEmpty()}?'':'&search='+${search})
						 +(${page.getSort().sorted? '&sort='+page.getSort().iterator().next().property
						 +','+page.getSort().iterator().next().direction:''})">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item active">
						<a class="page-link" th:text="${page.number+1}+'/'+${page.totalPages} "></a>
					</li>
					<li class="page-item" th:classappend="${page.number+1} ge ${page.totalPages}?'disabled':''">
						<a class="page-link"
						   th:href="'?page='+${page.number+1}+(${search.isEmpty()}?'':'&search='+${search})
					   +(${page.getSort().sorted? '&sort='+page.getSort().iterator().next().property
					   +','+page.getSort().iterator().next().direction:''})">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</main>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>