<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:fragment="menu">

	<nav id="sidebar">
		<div class="sidebar-header">
			<h3 class="p-2">Menu Saisi</h3>
		</div>

		<!-- Sidebar Links -->
		<ul class="list-unstyled components">
			<li class="active"><a th:href="@{'/user/gazoil'}" th:text="#{gazoil}"></a></li>
			<li class="active"><a th:href="@{'/user/panne'}" th:text="#{panne}"></a></li>
			<li class="active"><a th:href="@{'/user/preventif'}" th:text="#{preventif}"></a></li>
		</ul>
	</nav>

</div>
</body>
</html>