<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('user')"></div>
<div class="bmd-layout-container bmd-drawer-f-l  bmd-drawer-overlay-md-down">
	<div th:replace="user/fragment :: menu('')"></div>
	<main class="bmd-layout-content">
		<div class="container">
			<button class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm active" type="button" data-toggle="drawer"
					data-target="#side" style="margin-top: 10px">
				<i class="material-icons text-light">menu</i>
			</button>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
				<li class="breadcrumb-item" th:text="#{user}"></li>
			</ol>
			<div class="card-deck text-center py-1">
				<div class="card bg-light">
					<a th:href="@{'/user/gazoil/'}">
						<img class="card-img-top"
							 src="https://dailytimes.com.pk/static/uploads/original/petroleum-price-to-drop-by-rs-3-ogra-948fba5af9b4639b2a927e7e98c2a86e.jpg"
							 alt="Card image cap">
						<div class="card-header">
							<h2 th:text="#{gazoil.tableau}"></h2>
						</div>
					</a>
					<div class="card-body">
						<p class="card-text" th:text="#{gazoil.msg}"></p>
					</div>
				</div>
				<div class="card bg-light">
                    <img class="card-img-top"
                         src="https://thumbs.dreamstime.com/b/pen-magnifying-glass-financial-statement-paper-analysis-business-concept-photo-sunlight-filter-effect-75773208.jpg"
                         alt="Card image cap">
                    <div class="card-header">
                        <h2 th:text="#{bons}"></h2>
                    </div>
                    <div class="card-body pb-1">
                        <p class="card-text" th:text="#{bons.msg}"></p>
                        <div class="btn-group m-0 p-0">
                            <a class="btn btn-info btn-outline-info" th:title="#{bonEngins}"
                               href="/user/filter/be">E</a>
                            <a class="btn btn-info btn-outline-info" th:title="#{bonLivraisons}" href="/user/filter/bl">L</a>
                            <a class="btn btn-info btn-outline-info" th:title="#{bonFournisseurs}"
                               href="/user/filter/bf">F</a>
                        </div>
						<br>
                        <div class="btn-group m-0 p-0">
                            <a class="btn btn-info btn-outline-info" th:title="#{enginsFilter}"
                               href="/user/filter/engins">Engins</a>
                        </div>
					</div>
				</div>
				<div class="card bg-light">
                    <a href="/user/alerte/">
                        <img class="card-img-top"
                             src="https://static.vecteezy.com/system/resources/previews/000/111/279/non_2x/free-vector-car-dashboard-icons.jpg"
							 alt="Card image cap">
						<div class="card-header">
                            <h2 th:text="#{alerte}"></h2>
						</div>
					</a>
					<div class="card-body">
                        <p class="card-text" th:text="#{alerte.msg}"></p>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>