<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:fragment="onglet2">
	<!--/*@thymesVar id="data" type="me.kadarh.mecaworks.domain.user.Dashbord"*/-->
	<div class="row">
		<div class="col-md-6 col-12">
			<canvas id="chart3" width="200" height="100"></canvas>
		</div>
		<hr>
		<div class="col-md-6 col-12">
			<canvas id="chart4" width="200" height="100"></canvas>
		</div>
	</div>
	<div class="row">
		<table class="table table-hover table-responsive text-center" style="height: 500px">
			<thead>
			<tr>
				<th class="bg-dark text-white">Chantier</th>
				<th class="bg-dark text-white">Consommation gasoile location</th>
				<th class="bg-dark text-white">Consommation gasoile interne</th>
				<th class="bg-dark text-white">Consommation gasoile totale</th>
				<th class="bg-dark text-white">Consommation gasoile prévue</th>
				<th class="bg-dark text-white">Charge locataire interne</th>
				<th class="bg-dark text-white">Charge locataire externe</th>
				<th class="bg-dark text-white">Charge locataire totale</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="chantier : ${data.chantierBatch}">
				<td>
					<a th:text="${chantier.chantier.nom +' ('+chantier.chantier.adresse+')'}"
					   th:href="'/user/gazoil/chantiers/'+${chantier.chantier.id}"></a>
				</td>
				<td th:text="${#numbers.formatInteger(chantier.quantiteLocation, 1, 'COMMA')}+' (L) - '+${#numbers.formatDecimal(chantier.quantiteLocation*chantier.prix, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				<td th:text="${#numbers.formatInteger(chantier.quantite - chantier.quantiteLocation, 1, 'COMMA')}+' (L) - '+${#numbers.formatDecimal((chantier.quantite - chantier.quantiteLocation)*chantier.prix, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				<td th:text="${#numbers.formatInteger(chantier.quantite, 1, 'COMMA')}+' (L) - '+${#numbers.formatDecimal(chantier.quantite*chantier.prix, 1, 'COMMA', 2, 'POINT')}+' (DH)'"
				    class="text-white"
				    th:classappend="${chantier.quantite ge chantier.consommationPrevue*1.1? 'bg-danger': 'bg-success'}"></td>
				<td class="text-white bg-secondary"
				    th:text="${#numbers.formatInteger(chantier.consommationPrevue, 1, 'COMMA')}+' (L) - '+${#numbers.formatDecimal(chantier.consommationPrevue*chantier.prix, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				<td th:text="${#numbers.formatDecimal(chantier.chargeLocataire - chantier.chargeLocataireExterne, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				<td th:text="${#numbers.formatDecimal(chantier.chargeLocataireExterne, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				<td class="text-white bg-secondary"
				    th:text="${#numbers.formatDecimal(chantier.chargeLocataire, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>