<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:fragment="onglet1">
	<!--/*@thymesVar id="data" type="me.kadarh.mecaworks.domain.user.Dashbord"*/-->
	<div class="row">
		<div class="col-sm-12 col-md-9 card">
			<!--todo : make responsive-->
			<div>
				<canvas id="chart1" width="200" height="100"></canvas>
			</div>
			<hr>
			<div>
				<canvas id="chart2" width="200" height="100"></canvas>
			</div>
		</div>
		<div class="col-sm-12 col-md-3 card text-center" id="year">
			<h5 class="card-title p-2 bg-dark text-white">Totale de l'année
				<span id="range"></span>
				<button onclick="switchView(0)" class="btn btn-sm btn-link btn-raised">Detail du mois
					<i class="material-icons">arrow_forward</i>
				</button>
			</h5>
			<table class="table table-hover">
				<tbody>
				<tr>
					<td>Consommation gasoile location</td>
					<td th:text="${#numbers.formatInteger(data.totaleGazoileLocation, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal(data.totaleGazoileLocationDh, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				</tr>
				<tr>
					<td>Consommation gasoile interne</td>
					<td th:text="${#numbers.formatInteger(data.totaleGazoileInterne, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal(data.totaleGazoileInterneDh, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				</tr>
				<tr class="text-white"
				    th:classappend="${data.totaleGazoile ge data.consommationTotalePrevue*1.1 ? 'bg-danger': 'bg-success'}">
					<th>Consommation gasoile totale</th>
					<th th:text="${#numbers.formatInteger(data.totaleGazoile, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal(data.totaleGazoileDh, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></th>
				</tr>
				<tr>
					<th>Consommation gasoile totale prévue</th>
					<th th:text="${#numbers.formatInteger(data.consommationTotalePrevue, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal(data.consommationTotalePrevueDh, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></th>
				</tr>
				<tr class="bg-secondary text-white">
					<th>Quanité totale achetée</th>
					<th th:text="${#numbers.formatInteger(data.gazoilAcheteTotal, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal(data.gazoilAcheteTotalDh, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></th>
				</tr>
				<tr class="bg-secondary text-white">
					<th>Quanité totale flotante</th>
					<th th:text="${#numbers.formatInteger(data.gazoilFlotantTotal, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal(data.gazoilFlotantTotalDh, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></th>
				</tr>
				<tr>
					<td>Charge locataire interne</td>
					<td th:text="${#numbers.formatDecimal(data.chargeLocataireInterne, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				</tr>
				<tr>
					<td>Charge locataire externe</td>
					<td th:text="${#numbers.formatDecimal(data.chargeLocataireExterne, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				</tr>
				<tr class="bg-secondary text-white">
					<th>Charge locataire totale</th>
					<th th:text="${#numbers.formatDecimal(data.chargeLocataireTotale, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></th>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-12 col-md-3 card text-center" style="display: none" id="month">
			<h5 class="card-title p-2 bg-dark text-white">Totale du mois
				<span th:text="${now}"></span>
				<button onclick="switchView(1)" class="btn btn-sm btn-link btn-raised">
					<i class="material-icons">arrow_back</i>
					Totale de l'année
				</button>
			</h5>
			<table class="table table-hover">
				<tbody>
				<tr>
					<td>Consommation gasoile interne</td>
					<td th:text="${#numbers.formatInteger(data.quantites[12].quantity - data.quantites[12].quantiteLocation, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal((data.quantites[12].quantity - data.quantites[12].quantiteLocation)*data.quantites[12].prix,  1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				</tr>
				<tr>
					<td>Consommation gasoile location</td>
					<td th:text="${#numbers.formatInteger(data.quantites[12].quantiteLocation, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal(data.quantites[12].quantity*data.quantites[12].prix, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				</tr>
				<tr class="text-white"
				    th:classappend="${data.quantites[12].quantity ge data.quantites[12].consommationPrevue*1.1 ? 'bg-danger': 'bg-success'}">
					<th>Consommation gasoile totale</th>
					<th th:text="${#numbers.formatInteger(data.quantites[12].quantity, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal(data.quantites[12].quantity*data.quantites[12].prix, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></th>
				</tr>
				<tr>
					<th>Consommation gasoile totale prévue</th>
					<th th:text="${#numbers.formatInteger(data.quantites[12].consommationPrevue, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal(data.quantites[12].consommationPrevue*data.quantites[12].prix, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></th>
				</tr>
				<tr class="bg-secondary text-white">
					<th>Quantité totale achetée</th>
					<th th:text="${#numbers.formatInteger(data.quantites[12].gazoilAchete, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal(data.quantites[12].gazoilAchete*data.quantites[12].prix, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></th>
				</tr>
				<tr class="bg-secondary text-white">
					<th>Quantité totale flotante</th>
					<th th:text="${#numbers.formatInteger(data.quantites[12].gazoilFlotant, 1, 'COMMA')} +' (L) - '+${#numbers.formatDecimal(data.quantites[12].gazoilFlotant*data.quantites[12].prix, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></th>
				</tr>
				<tr>
					<td>Charge locataire interne</td>
					<td th:text="${#numbers.formatDecimal(data.quantites[12].chargeLocataire - data.quantites[12].chargeLocataireExterne, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				</tr>
				<tr>
					<td>Charge locataire externe</td>
					<td th:text="${#numbers.formatDecimal(data.quantites[12].chargeLocataireExterne, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></td>
				</tr>
				<tr class="bg-secondary text-white">
					<th>Charge locataire totale</th>
					<th th:text="${#numbers.formatDecimal(data.quantites[12].chargeLocataire, 1, 'COMMA', 2, 'POINT')}+' (DH)'"></th>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script>
        function switchView(id) {
            if (id === 0) {
                $("#year").hide(0);
                $("#month").show(300);
            } else if (id === 1) {
                $("#month").hide(0);
                $("#year").show(300);
            }
        }
	</script>
</div>
</body>
</html>