<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('')"></div>
<div class="middle-box text-center animated fadeInDown">
	<br>
	<h1>Error Message :</h1>
	<div class="error-desc">
		<!--/*@thymesVar id="causes" type="java.util.List<java.lang.String>"*/-->
		<div>
			<p>
				[[${exception.message}]]
				<a href="#causes" class="btn active bmd-btn-icon py-1" data-toggle="collapse">
					<i th:if="!${#lists.isEmpty(causes)}" class="material-icons">add</i>
				</a>
			</p>
		</div>
		<div id="causes" class="collapse">
			<h4>Causes :</h4>
			<p th:each="cause,i : ${causes}" th:text="${i.size-i.count+1}+' - '+${cause}"></p>
		</div>


		<a th:href="@{'/'}" class="btn btn-secondary btn-raised" th:text="#{home}"></a>
	</div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>