<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mecaworks</title>
	<link rel="stylesheet" th:href="@{/webjars/material-design-icons/3.0.1/material-icons.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/roboto-fontface/0.7.0/css/roboto/roboto-fontface.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/select2/4.0.0/dist/css/select2.min.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-material-design/4.1.1/css/bootstrap-material-design.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<nav th:fragment="menu(active)" class="navbar navbar-expand-lg navbar-light bg-primary">
	<a class="navbar-brand text-light" href="/"><h3>MecaWorks</h3></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
			aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item" th:classappend="${active} eq 'admin'?'active':''">
				<a class="nav-link" href="/admin" th:text="#{admin}"></a>
			</li>
			<li class="nav-item" th:classappend="${active} eq 'user'?'active':''">
				<a class="nav-link" href="/user" th:text="#{user}"></a>
			</li>
			<li class="nav-item" th:classappend="${active} eq 'saisi'?'active':''">
				<a class="nav-link" href="/saisi" th:text="#{saisie}"></a>
			</li>
		</ul>
	</div>
</nav>
<form th:fragment="search(placeHolder)" class="form-inline justify-content-center" method="get" action="#hrTable">
	<div class="form-group">
		<input class="form-control col-12" type="text" th:name="search" th:value="${search}"
			   th:placeholder="${placeHolder}">
		<button class="btn btn-secondary col btn-raised" type="submit" th:text="#{search}"></button>
	</div>
</form>
<ul th:fragment="pagination" class="pagination justify-content-center p-3">
	<li class="page-item" th:classappend="${page.number} eq 0?'disabled':''">
		<a class="page-link"
		   th:href="'?page='+${(page.number)-1}+(${search.isEmpty()}?'':'&search='+${search})
						 +(${page.getSort().sorted? '&sort='+page.getSort().iterator().next().property
						 +','+page.getSort().iterator().next().direction:''})">
			<span aria-hidden="true">&laquo;</span>
		</a>
	</li>
	<li class="page-item active">
		<a class="page-link" th:text="${page.number+1}+'/'+${page.totalPages} "></a>
	</li>
	<li class="page-item" th:classappend="${page.number+1} ge ${page.totalPages}?'disabled':''">
		<a class="page-link"
		   th:href="'?page='+${page.number+1}+(${search.isEmpty()}?'':'&search='+${search})
					   +(${page.getSort().sorted? '&sort='+page.getSort().iterator().next().property
					   +','+page.getSort().iterator().next().direction:''})">
			<span aria-hidden="true">&raquo;</span>
		</a>
	</li>
</ul>
<div th:fragment="footer">
	<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	<script th:src="@{/webjars/select2/4.0.0/dist/js/select2.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.13.0/dist/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap-material-design/4.1.1/js/bootstrap-material-design.min.js}"></script>
	<script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                width: '100%'
            });
            $('body').bootstrapMaterialDesign();
        });
	</script>
	<script th:src="@{/js/main.js}"></script>
</div>
</body>
</html>