<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
    <br/>
    <ul class="breadcrumb py-3">
        <li class="breadcrumb-item"><a th:href="@{'/'}"><i class="fa fa-arrow-circle-left fa-lg"></i></a></li>
        <li class="breadcrumb-item" th:text="#{home}"></li>
    </ul>
    <div class="row mt-2">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4 mr-4 ml-4 bg-faded"
             style="box-shadow:2px 2px 3px 3px darkseagreen;">
            <div class=" text-center">
                <div>
                    <h2 class="py-3"><a th:href="@{'/gazoil/'}"><i class="fa fa-list-alt"></i> <span
                            th:text="#{gazoil}"></span></a>
                    </h2>
                </div>
                <hr/>
                <blockquote class="card-blockquote p-3">
                    <p th:text="#{gazoil.msg}"></p>
                </blockquote>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4 mr-5 ml-5 bg-faded"
             style="box-shadow:2px 2px 3px 3px darkseagreen;">
            <div class=" text-center">
                <div>
                    <h2 class="py-3"><a th:href="@{'/panne/'}"><i class="fa fa-list-alt"></i> <span
                            th:text="#{panne}"></span></a>
                    </h2>
                </div>
                <hr/>
                <blockquote class="card-blockquote p-3">
                    <p th:text="#{panne.msg}"></p>
                </blockquote>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4 mr-4 ml-4 bg-faded"
             style="box-shadow:2px 2px 3px 3px darkseagreen;">
            <div class=" text-center">
                <div>
                    <h2 class="py-3"><a th:href="@{'/preventif/'}"><i class="fa fa-list-alt"></i> <span
                            th:text="#{preventif}"></span></a>
                    </h2>
                </div>
                <hr/>
                <blockquote class="card-blockquote p-3">
                    <p th:text="#{preventif.msg}"></p>
                </blockquote>
            </div>
        </div>
		<div class="col-sm-6 col-md-4 col-lg-5 mt-4 mr-4 ml-4 bg-faded"
			 style="box-shadow:2px 2px 3px 3px darkseagreen;">
			<div class=" text-center">
				<div>
					<h2 class="py-3"><a th:href="@{'/admin/'}"><i class="fa fa-list-alt"></i> <span
							th:text="#{admin}"></span></a>
					</h2>
				</div>
				<hr/>
				<blockquote class="card-blockquote p-3">
					<p th:text="#{admin.msg}"></p>
				</blockquote>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-5 mt-4 mr-4 ml-4 bg-faded"
			 style="box-shadow:2px 2px 3px 3px darkseagreen;">
			<div class=" text-center">
				<div>
					<h2 class="py-3"><a th:href="@{'/user/'}"><i class="fa fa-list-alt"></i> <span
							th:text="#{user}"></span></a>
					</h2>
				</div>
				<hr/>
				<blockquote class="card-blockquote p-3">
					<p th:text="#{user.msg}"></p>
				</blockquote>
			</div>
		</div>
    </div>

</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>