<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('admin')"></div>
<div class="bmd-layout-container bmd-drawer-f-l  bmd-drawer-overlay-md-down">
	<div th:replace="admin/fragment :: menu('c')"></div>
	<main class="bmd-layout-content">
		<div class="container">
			<button class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm active" type="button" data-toggle="drawer"
					data-target="#side" style="margin-top: 10px">
				<i class="material-icons text-light">menu</i>
			</button>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/admin'}" th:text="#{admin}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{'/admin/chantiers'}" th:text="#{admin.chantiers}"></a></li>
				<li class="breadcrumb-item" th:text="${edit}? #{admin.chantier.edit}: #{admin.chantier.add}"></li>
			</ol>
			<form class="card p-5" method="post" th:object="${chantier}">
				<h3 class="text-center"
					th:text="${edit}?#{admin.chantier.edit}: #{admin.chantier.add}"></h3>
				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<h4 class="alert-heading" th:text="#{formError}"></h4>
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="nom" th:text="#{chantier.nom}"></label>
					<input type="text" id="nom"
						   class="form-control" th:field="*{nom}"/>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="adresse" th:text="#{chantier.adresse}"></label>
					<input type="text" id="adresse"
						   class="form-control" th:field="*{adresse}"/>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating" for="stock" th:text="#{chantier.stock}"></label>
					<input type="number" id="stock"
						   class="form-control" th:field="*{stock}"/>
				</div>
				<button type="submit" class="btn btn-success btn-raised">
					[[${edit}?#{save}: #{add}]]
				</button>
				<a href="/admin/chantiers" class="btn btn-secondary btn-raised">
					[[#{cancel}]]
				</a>
			</form>
		</div>
	</main>
</div>
</body>
<div th:replace="fragments :: footer"></div>
</html>