<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: menu('user')"></div>
<div class="bmd-layout-container bmd-drawer-f-l  bmd-drawer-overlay-md-down">
    <div th:replace="user/fragment :: menu('g')"></div>
    <main class="bmd-layout-content">
        <div class="container-fluid">
            <button class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm active" type="button" data-toggle="drawer"
                    data-target="#side" style="margin-top: 10px">
                <i class="material-icons text-light">menu</i>
            </button>
	        <select class="custom-select float-right col-md-3 col-lg-3 col-sm-6 text-center">
		        <option th:text="${now}"></option>
		        <option disabled="disabled">--------------------</option>
		        <option th:each="month : ${months}" th:text="${month.value}"
		                th:value="${month.key}" th:onclick="|navigate('${month.key}')|"></option>
	        </select>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{'/'}" th:text="#{home}"></a></li>
                <li class="breadcrumb-item"><a th:href="@{'/user'}" th:text="#{user}"></a></li>
                <li class="breadcrumb-item" th:text="#{gazoil}"></li>
            </ol>

	        <h3 class="text-center">Consommation du gasoile</h3>
	        <div class="row">
		        <div class="col-sm-12 col-md-9 card">
			        <!--todo : make responsive-->
			        <canvas id="chart1" width="400" height="100"></canvas>
			        <canvas id="chart2" width="400" height="100"></canvas>
		        </div>
		        <div class="col-sm-12 col-md-3 card">
			        <h5 class="pt-3 pl-3">Totale année</h5>
			        <table class="table table-hover">
				        <tbody>
				        <tr>
					        <td>Consommation gasoile location</td>
					        <td th:text="${data.totaleGazoileLocation} +'(L) - '+${data.totaleGazoileLocationDh}+' (DH)'"></td>
				        </tr>
				        <tr>
					        <td>Consommation gasoile interne</td>
					        <td th:text="${data.totaleGazoileInterne} +'(L) - '+${data.totaleGazoileInterneDh}+' (DH)'"></td>
				        </tr>
				        <tr>
					        <th>Consommation gasoile totale</th>
					        <th th:text="${data.totaleGazoile} +'(L) - '+${data.totaleGazoileDh}+' (DH)'"></th>
				        </tr>
				        <tr>
					        <td>Charge locataire interne</td>
					        <td th:text="${data.chargeLocataireInterne}+' (DH)'"></td>
				        </tr>
				        <tr>
					        <td>Charge locataire externe</td>
					        <td th:text="${data.chargeLocataireExterne}+' (DH)'"></td>
				        </tr>
				        <tr>
					        <th>Charge locataire totale</th>
					        <th th:text="${data.chargeLocataireTotale}+' (DH)'"></th>
				        </tr>
				        </tbody>
			        </table>
		        </div>
	        </div>
	        <hr>
	        <pre id="json"></pre>

        </div>
    </main>
</div>
<div th:replace="fragments :: footer"></div>
<script th:inline="javascript">
    var data = /*[[${data}]]*/ '';
    $("#json").html(JSON.stringify(data, undefined, 4));

    function navigate(date) {
        window.location.href = '?date=' + date;
    }
</script>
<script th:src="@{/js/user/gazoilHome.js}"></script>
</body>
</html>